/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/11/25, 18:39:23
    Author     : YOSHINO KAI
*/
#mynetwork {//ネットワークの
      width: 1400px;
      height: 780px;
      border: 10px solid lightgray;
	margin: 0 auto;
 }
      
      
      #input{
      width:1200px;
      height:100px;
      margin:20px;
      }
      
      
      #mode{
      width:200px;
      height:100px;
      margin:20px 50px;
      }
      

      #execute{
      width:200px;
      height:100px;
      margin:20px 50px;
      }


      #add{
      width:100px;
      height:20px;
      }
      

      #rules{
      margin: 0px 0px 0px 20px;
      }
      
      //id が ruleName のものに適用される
      #ruleName{
      width:300px;
      height:100px;
      margin:10px 20px;
      }

      //id が if のものに適用される
      #if{
      width:300px;
      height:100px;
      margin:10px 20px;
      }
      

      #then{
      width:300px;
      height:100px;
      margin:10px 20px;
      }
      
      #adapt{
      width:50px;
      height:50px;
      margin:0px 0px 0px 20px;
      }
      
     input.rule{
         width:380px;
     }
